<nav class="navbar navbar-expand-lg navbar-light shadow-lg p-3 mb-5 bg-body rounded">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/home">Hakintosh</a>
    <button
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
      class="navbar-toggler"
      data-bs-target="#navbarSupportedContent"
      data-bs-toggle="collapse"
      type="button"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li [routerLinkActiveOptions]="{exact:true}" [routerLinkActive]="['active']" class="nav-item">
          <a aria-current="page" class="nav-link active" routerLink="/home">Home</a>
        </li>
        <li [routerLinkActiveOptions]="{exact:true}" [routerLinkActive]="['active']" class="nav-item">
          <a class="nav-link" routerLink="/dashboard">Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Blog</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">LogOut</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Register</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
